<form>
  <img src="coffee_machine.png" alt="Coffee Machine" />

  <input
    type="text"
    placeholder="Nombre"
    class="form-control"
    name="nombre"
    [(ngModel)]="cliente.nombre"
  />
  <input
    type="number"
    placeholder="Edad"
    class="form-control"
    name="edad"
    [(ngModel)]="cliente.edad"
  />
  <input
    type="text"
    placeholder="Ciudad"
    class="form-control"
    name="ciudad"
    [(ngModel)]="cliente.ciudad"
  />

  <input
    type="button"
    value="Registrar"
    [style.display]="btnRegistro ? 'inline' : 'none'"
    class="btn btn-primary hover"
    (click)="registrar()"
  />
  <input
    type="button"
    value="Alterar"
    [style.display]="!btnRegistro ? 'inline' : 'none'"
    class="btn btn-warning"
    (click)="editar()"
  />
  <input
    type="button"
    value="Remover"
    [style.display]="!btnRegistro ? 'inline' : 'none'"
    class="btn btn-danger"
    (click)="remover()"
  />
  <input
    type="button"
    value="Cancelar"
    [style.display]="!btnRegistro ? 'inline' : 'none'"
    class="btn btn-secondary"
    (click)="cancelar()"
  />
</form>

<table class="table" *ngIf="tabela">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Ciudad</th>
      <th>Seleccionar</th>
    </tr>
  </thead>
  <tbody>
    @for (c of clientes; track c.codigo) {
    <tr>
      <td>{{ c.codigo }}</td>
      <td>{{ c.nombre }}</td>
      <td>{{ c.edad }}</td>
      <td>{{ c.ciudad }}</td>
      <td>
        <button class="btn btn-success" (click)="selecionarCliente(c.codigo)">
          Selecionar
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
